[Unit]
Description=Roundhouse daemon socket

[Socket]
ListenStream=%t/roundhouse/daemon.sock
SocketMode=0600
DirectoryMode=0700

[Install]
WantedBy=sockets.target
